$bg-c:#232323;
$bg-c-dark:#0b090e;

$btn-c:#61a626;
$btn-c-activ:#406e19;

$font-c:#ffffff;
$font-dark: #232323;
$font-activ:#fcfcfc;

$font-gold:#fbc731;
$font-blue: #55aee6;
$font-light-blue: #8be2fc;
$font-purp: #dd055c;


.purp{
	color:$font-purp;
}

.gold{
	color:$font-gold;
}

.blue{
	color:$font-light-blue;
}



