@charset "UTF-8";

@font-face {
  font-family: 'pdf';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pfdindisplaypro-reg.ttf');
}
@font-face {
  font-family: 'pdf';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/pfdindisplaypro-bold.ttf');
}
@font-face {
  font-family: 'pdf';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/pfdindisplaypro-thin.ttf');
}
@font-face {
  font-family: 'fontAwesom';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome-webfont.ttf');
}
@font-face {
  font-family: 'fontAwesom2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FontAwesome.otf');
}

