//components
@media (max-width: 1199px){
  .fix-parant{
    padding-top: 75px;//fixed header
    .fix{
      height: 75px;
    }
  }
  header{
    padding-top: 15px;
  }
  .button{
    padding: 14px 20px;
  }
  form{
    input,
    select{
      padding: 12px 25px;
    }
    .button{
      padding: 14px 0;
    }
  }
  .icon-box{
    &.vert{
      padding-top: 95px;
      &::before{
        height: 85px;
        background-size: 85px 100%;
      }
    }
    &.i-lg{
      &.vert{
        padding-top: 180px;
        &::before{
          height: 165px;
          background-size: 165px 100%;  
        }
      }
    }
    &.i-md{
      &.vert{
        padding-top: 135px;
        &::before{
          height: 125px;
          background-size: 125px 100%;  
        }
      }
    }
    &.i-sm{
      &.vert{
        padding-top: 110px;
        &::before{
          height: 100px;
          background-size: 100px 100%;  
        }
      }
    }
    &.i-xs{
      &.vert{
        padding-top: 90px;
        &::before{
          height: 80px;
          background-size: 80px 100%;  
        }
      }
      &.horizon{
        padding-left: 95px;
        min-height: 80px;
        &::before{
          width: 80px;
          background-size: 100% 80px;
        }
      }
    }
    .title{
      padding-bottom: 4px;
    }
    .desc{
      padding-right: 7%;
      padding-left: 7%;
    }
  }
}

//main
@media (max-width: 1199px){
html{
  font-size: 15px;
}
p{
  padding-bottom: 18px;
}
h1,h2,h3,h4{
  padding-bottom: 27px;
}
section{
  padding: 50px 0 70px;
  .subtitle{
    padding-bottom: 25px;
  }
}
footer{
  padding-bottom: 35px;
  padding-top: 35px;
}
header{ 
  .logo{
    padding-top: 4px;
    padding-right: 60px;
  }
  .icon-box{
    margin-top: -2px;
    .desc{
      font-size: 0.9rem;
    }
    &.horizon{
      &::before{
        width: 55px;
        background-size: 100% 55px;
      }
    }
    &.one{
      padding-left: 35px;
    }
    &.one:before{
      left: -30px;
    }
    &.two{
      padding-left: 35px;
    }
    &.two::before{
      left: -25px;
    }
    &.three{
      padding-right: 10px;
      padding-left: 20px;
    }
    &.three::before{
      left: -35px;
    }
  }
}
.block-main{
  padding-top: 55px;
  padding-bottom: 70px;
  .title{
    font-size: 2.3rem;
    padding-bottom: 5px;
  }
  .subtitle{
    font-size: 0.9rem;
    padding-right: 108px;
    padding-left: 108px;
    padding-bottom: 5px;
  }
  .price{
    font-size: 1.9rem;
    padding-bottom: 10px;
  }
  .buy-counter{
    padding-bottom: 4px;
  }
  form{
    padding-top: 7px;
    input,
    select,
    .button{
      width: 42%;
    }
  }
  .countdown-wrap{
    padding-top: 7px;
  }
  .product{
    margin-top: 70px;
    margin-left: -108px;
    padding: 0;
    img{
      width: 100%;
    }
    .discount{
      top: -30px;
      right: -30px;
      padding-top: 30px;
    }
    .product-counter{
      width: 120%;
      left: -6%;
      bottom: -100px;
    }
  }
}
.block-2{
  padding-top: 20px;
  padding-bottom: 20px;
  .icon-box{
    &.vert{
      padding-top: 85px;
      &::before{
        height: 85px;
        background-size: 102px 100%;
      }
    }
  }
}
//end
}