//components
@media (max-width: 991px){
  .fix-parant{
    padding-top: 60px;//fixed header
    .fix{
      height: 60px;
    }
  }
  header{
    padding-top: 12px;
  }
  .button{
    font-size: 0.9rem;
    padding: 10px 0;
  }
  .discount{
    width: 64px;
    height: 75px;
    &.circle{
      padding: 20px 12px;
    }
  }
  form{
    input,
    select{
      padding: 10px 20px;
    }
    .button{
      padding: 12px 0;
    }
  }
  .icon-box{
    &.vert{
      padding-top: 85px;
      &::before{
        height: 75px;
        background-size: 75px 100%;
      }
    }
    &.i-lg{
      &.vert{
        padding-top: 160px;
        &::before{
          height: 145px;
          background-size: 145px 100%;  
        }
      }
    }
    &.i-md{
      &.vert{
        padding-top: 120px;
        &::before{
          height: 110px;
          background-size: 110px 100%;  
        }
      }
    }
    &.i-sm{
      &.vert{
        padding-top: 100px;
        &::before{
          height: 90px;
          background-size: 90px 100%;  
        }
      }
    }
    &.i-xs{
      &.vert{
        padding-top: 80px;
        &::before{
          height: 70px;
          background-size: 70px 100%;  
        }
      }
      &.horizon{
        padding-left: 82px;
        min-height: 70px;
        &::before{
          width: 70px;
          background-size: 100% 70px;
        }
      }
    }
    .title{
      padding-bottom: 3px;
    }
    .desc{
      padding-right: 4%;
      padding-left: 4%;
    }
  }
}

//main
@media (max-width: 991px) {
html{
  font-size: 14px;
}
p{
  padding-bottom: 15px;
}
h1,h2,h3,h4{
  padding-bottom: 23px;
}
section{
  padding: 45px 0 60px;
}
header{ 
  .logo{
    padding-top: 6px;
    padding-right: 45px;
  }
  .icon-box{
    &.horizon{
      top: -1px;
      &::before{
        width: 40px;
        background-size: 100% 40px;
      }
    }
    .desc{
      line-height: 1.2;
      font-size: .8rem;
    }
    &.one{
      padding-left: 15px;
    }
    &.one:before{
      left: -35px;
    }
    &.two{
      padding-left: 32px;
    }
    &.two::before{
      left: -18px;
    }
    &.three{
      padding-right: 0px;
      padding-left: 30px;
    }
    &.three::before{
      left: -15px;
    }
  }
}
.block-main{
  padding-top: 50px;
  padding-bottom: 60px;
  .title{
    font-size: 2.0rem;
    padding-bottom: 3px;
  }
  .subtitle{
    font-size: 0.9rem;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 3px;
  }
  .price{
    font-size: 1.7rem;
    padding-bottom: 7px;
  }
  .buy-counter{
    padding-bottom: 3px;
  }
  form{
    padding-top: 5px;
    input,
    select,
    .button{
      width: 50%;
    }
  }
  .countdown-wrap{
    padding-top: 5px;
  }
  .product{
    margin-top: 77px;
    margin-left: -78px;
    padding: 0;
    img{
      width: 100%;
    }
    .discount{
      font-size: 1.4rem;
      top: -23px;
      right: -20px;
      padding-top: 22px;
    }
    .product-counter{
      width: 130%;
      padding-top: 15px;
      font-size: .90rem;
    }
  }
}
.block-2{
  padding-top: 17px;
  padding-bottom: 17px;
  .icon-box{
    &.vert{
      padding-top: 75px;
      &::before{
        height: 75px;
        background-size: 90px 100%;
      }
    }
  }
}
//end
}