.query-check{
    padding-bottom: 5px;
}
.checkbox-item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 80px;
    padding-right: 40px;
}
.checkbox-item label:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(72,72,72,.5);
    background-color: #FFF;
    position: absolute;
    right: 17px;
    top: -2px;
}
.checkbox-item input[type=radio],.preloader,.result {
    display: none;
}

.checkbox-item input[type=radio]:checked+label:after {
    border-color: rgba(109,255,2,.5);
    background-image: url('../img/i/check.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 1px 2px;
}