$blue: #a7c4ff;
$gold: #fff;
$gray: #d7d7d7;
$green: #7cd86c;
$orange: #fff;
$red: #a7c4ff;
$purp: #fff;

$bg-c: #111;
$bg-dark: #0b090e;

$font-c: #ffffff;
$font-dark: $bg-dark;

$btn-c: transparent;
$btn-c-activ: #7cd86c;


$placehold-c: #232323;

$subtitle: #ffd7d9;
$subtitle-alt: #d1343a;
.subtitle{
	color: $subtitle;
}
.subtitle.alt{
	color: $subtitle-alt;
}


.dark{
	color: $font-dark;
}
.blue{
	color: $blue;
}
.blue{
	color: $blue;
}
.gold{
	color: $gold;
}
.gray{
	color: $gray;
}
.green{
	color: $green;
}
.orange{
	color: $orange;
}
.red{
	color: $red;
}
.purp{
	color: $purp;
}




