.fix-parant{
  padding-top: 90px;//fixed header
  .fix{
    position: fixed;
    height: 90px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
  }
}
header,
footer{
  padding-top: 15px;
  background-color: $bg-c; 
}
.button{
  background-color: $btn-c;
  padding: 15px 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  outline: none;   
  display: block;
  text-align: center;
  margin: auto;
  @include transit($transit);
  &:visited,
  &:link{
    text-decoration: none;
    outline:none;
    color: $btn-c-activ; 
  }
  &:hover,
  &:active,
  &:focus{
    background-color: $btn-c-activ;
    color: $font-dark;
    text-decoration: none;
  }
}
.title{
  font-family: $font-f-alt;
  font-size: 3.1rem;
  line-height: 1.0;
  font-weight: 400;
  text-align: center;
  color: $font-c;
  &.alt{
    color: $font-c;
  }
    .wing{
    position: relative;
    &:before,
    &:after{
      content: '';
      border: 1px solid $font-c;
      border-bottom-width: 0;
      width: 108px;
      height: 0;
      position: absolute;
      top: 40px;
    }
    &:before{
      left: -120px;
    }
    &:after{
      right: -120px;
    }
  }
}
.desc{
  font-size: 1rem;
  line-height: 1.5;
}
.bold{
  font-weight: bold;
  font-size: 2.0rem;
  //text-transform: uppercase;
}
.covered{
  background-size: cover;
  -webkit-background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.menu{
  ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  li{
    text-transform: uppercase;
    display: inline-block;
  }
  a:visited,
  a:link{
    text-decoration: none;
    outline:none;
    color: $font-c; 
  }
  a:hover,
  a:active,
  a:focus{
    color: $font-c;
    text-decoration: none;
    @include transit(200ms);
  }
  &.underliner{
    li{ 
      height: 55px;
      padding-top: 10px;
      a{
        display: inline-block;
        height: 100%;
      }
      :hover,
      :active,
      :focus{
        border: 0px solid $font-c;
        border-bottom-width: 3px;
        color: $font-c;
      }
    }
  }
}
.price{
  font-family: $font-f-alt;
  font-weight: 700;
  font-size: 2.5rem;
  >div{
    display: inline;
  }
  .old{
    text-align: right;
    padding-right: 7px;
    span.cros{
      text-decoration: line-through;
    }
  }
  .new{
    padding-left: 7px;
    text-align: left;
  }
}
form{
  display: block;
  position: relative;
  text-align: center;
  input,
  select{
    width: 60%;
    margin: 6px 0;
    border-radius: 5px;
    border-width: 0;  
    outline: none;
    max-width: 100%;
    color: $placehold-c;
    font-size: 1.1rem;
    padding: 15px 30px;
    border: 1px solid #8b809f;
    &:active, 
    &:focus{
      outline: 1px solid red;
    }
  }
  .button{
    width: 60%;
    margin: 6px 0;
    display: inline-block;
    max-width: 100%;
    border-width: 0;
    padding: 15px 17px;
  }
  @include plecehold($placehold-c);
}
.discount{
  font-family: $font-f-alt;
  width: 80px;
  height: 100px;
  background: url('../img/i/discount.png') no-repeat center top;
  background-size: 100%;  
  display: inline-block;
  position: absolute;
  text-align: center;
  padding-top:calc(50% - 50px);
  font-size: 2rem; 
  font-weight: bold;
  color: $font-c;
  top: 0;
  right: 0;
  &.circle{
    background-image: none;
    background-color: $bg-c;
    padding: 30px 15px;
    font-size: 1.4rem;
    border-radius: 100%;
    height: auto;
    width: auto;
  }
}
.centred{
  text-align: center;
  >*{
    float: none;
    vertical-align: top;
    display: inline-block;
  }
}
.logo{
  text-align: left;
  img{
    width: 100%;
  } 
}
.on-top-element{
  &.on-top{
    z-index: 99999;
  }
}
.icon-box{
  position: relative;
  &.vert{
    padding-top: 115px;
    text-align: center;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      top: 0;
      left: 0;
      background-size: 100px 100%;
      background-repeat: no-repeat;
      background-position: top center;   
    }
  }
  &.horizon{
    padding-left: 20px;
    text-align: left;
    .desc,
    .title{
      text-align: left;
    }
    &::before{
      content: ""; 
      position: absolute;
      width: 54px;
      height: 100%;
      top: 0;
      left: 0;
      background-size: 100% 54px;
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
  &.i-lg{
    &.vert{
      padding-top: 215px;
      &::before{
        height: 200px;
        background-size: 200px 100%;  
      }
    }
  }
  &.i-md{
    &.vert{
      padding-top: 160px;
      &::before{
        height: 150px;
        background-size: 150px 100%;  
      }
    }
  }
  &.i-sm{
    &.vert{
      padding-top: 135px;
      &::before{
        height: 125px;
        background-size: 125px 100%;  
      }
    }
  }
  &.i-xs{
    &.vert{
      padding-top: 110px;
      &::before{
        height: 100px;
        background-size: 100px 100%;  
      }
    }
    &.horizon{
      padding-left: 115px;
      min-height: 100px;
      &::before{
        width: 100px;
        background-size: 100% 100px;
      }
    }
  }
  .title{
    font-family: $font-f;
    color: $font-c;
    padding-bottom: 5px;
    letter-spacing: normal;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .desc{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0;
  }
}

