.fix-parant{
  padding-top: 90px;//fixed header
  .fix{
    position: fixed;
    height: 90px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
  }
}
header,
footer{
  padding-top: 15px;
  background-color: $bg-c; 
}
.button{
  background-color: $btn-c;
  color: $font-c; 
  padding: 16px 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  outline: none;   
  display: block;
  text-align: center;
  margin: auto;
  @include transit($transit);
  &:hover,
  &:active,
  &:focus{
    background-color: $btn-c-activ;
    color: $font-activ;
    text-decoration: none; 
  }
  &:active,
  &:visited,
  &:link{
    text-decoration: none;
    outline:none;
    color: $font-c; 
  }
}
.title{
  font-family: $font-f-alt;
  font-size: 3.1rem;
  line-height: 1.0;
  font-weight: 400;
  text-align: center;
  color: $font-blue;
  &.alt{
    color: $font-c;
  }
}
.big.title{
  //font-size: 2.7rem;
  font-weight: 600;
}
.desc{
  font-size: 1rem;
  line-height: 1.5;
}
.bold{
  font-weight: bold;
  font-size: 2.0rem;
  //text-transform: uppercase;
}
.covered{
  background-size: cover;
  -webkit-background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.menu{
  ul{
    margin-top: 0;
    padding: 0;
  }
  li{
    width: 20%;
    display: inline-block;
    float: left;
    &:first-letter{
      text-transform: uppercase;
    }
  }
}
.price{
  float: left;
  font-family: $font-f-alt;
  font-weight: 700;
  font-size: 1.7rem;
  &.old{
    width: 57%;
    text-align: right;
    span.cros{
      text-decoration: line-through;
    }
  }
  &.new{
    width: 43%;
    padding-left: 15px;
    text-align: left;
  }
}
form{
  display: block;
  position: relative;
  text-align: center;
  input,
  select{
    width: 60%;
    margin: 6px 0;
    border-radius: 5px;
    border-width: 0;  
    outline: none;
    max-width: 100%;
    color: $placehold-c;
    font-size: 1.1rem;
    padding: 15px 30px;
    border: 1px solid #8b809f;
    &:active, 
    &:focus{
      outline: 1px solid red;
    }
  }
  .button{
    width: 60%;
    margin: 6px 0;
    display: inline-block;
    max-width: 100%;
    border-width: 0;
    padding: 15px 17px;
  }
  @include plecehold($placehold-c);
}
.discount{
  font-family: $font-f-alt;
  width: 80px;
  height: 100px;
  background: url('../img/i/discount.png') no-repeat center top;
  background-size: 100%;  
  display: inline-block;
  position: absolute;
  text-align: center;
  padding-top:calc(50% - 50px);
  font-size: 2rem; 
  font-weight: bold;
  color: $font-c;
  top: 0;
  right: 0;
  &.circle{
    background-image: none;
    background-color: $bg-c;
    padding: 30px 15px;
    font-size: 1.4rem;
    border-radius: 100%;
    height: auto;
    width: auto;
  }
}
.centred{
  text-align: center;
  >*{
    float: none;
    vertical-align: top;
    display: inline-block;
  }
}
.logo{
  text-align: left;
  img{
    width: 100%;
  } 
}
.on-top-element{
  &.on-top{
    z-index: 99999;
  }
}

