#countdown{
  width: auto;
  padding-top: 0px;
  padding-left: 20px;
  .position{
    width: 12px;
    height: 30px;
  }
  .static{
    width: 12px;
    height: 30px;
  }
  .digit.static,
  .digit{
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    //border-radius: 50%;
    color:#fff;
    font-size: 1.4rem;
    font-weight: 500;
    height: auto;
    padding: 0px 0px; 
    //border: 0px solid #d1d1d1;
  }
  .countDays{ 
    display:none !important;
  }
  .countDiv0{
    display:none !important;
  }
  .countHours{
    //background-color: #0f59b1;
    border-radius: 50%;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 25px;
  }
  .countDiv1{
    display:none !important;
  }
  .countMinutes{
    margin-right: 25px;
    //background-color: #0f59b1;
    border-radius: 50%;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 25px;
  }
  .countDiv2{
    display:none !important;
  }
  .countSeconds{
    //background-color: #0f59b1;
    border-radius: 50%;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 25px;
  }
  .countHours,
  .countMinutes,
  .countSeconds{
    position: relative;
    height: 60px;
    &:before{
      content: '';
      background-image: url('../img/i/count-plant.png');
      position: absolute;
      width: 47px;
      height: 60px;
      top: -5px;
      left: 5px;
      background-size: 100% 60px;
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
}
.coundown-desc{
  margin: 0 auto;
  padding-bottom: 50px;
  span{
    padding: 0 10px;
    text-transform: uppercase;
    &.hours{
    }
    &.minutes{
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}