@charset "UTF-8";

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Proxima Nova Regular.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/Proxima Nova Bold.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Proxima Nova Semibold.otf');
}
/*@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome-webfont.otf');
}
@font-face {
  font-family: 'fontAwesom2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FontAwesome.otf');
}*/

