.icon-box{
  position: relative;
  padding-left: 50px;
  &.vert{
    padding-top: 145px;
    &::before{
      background-size: 210px 130px;
      background-repeat: no-repeat;
      background-position: top center;
      top: 0;
      width: 100%;
      height: 130px;
    }
  }
  &.horizon{
    padding-left: 110px;
    &::before{
      left: 90px;
      width: 100px;
      height: 92px;
    }
  }
  &::before{
    content: "";  
    background-image: url('../img/i/top1.png');
    background-size: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;  
  }
  &:nth-child(2n)::before{
    background-image: url('../img/i/top2.png');
  }
  &:nth-child(3n)::before{
    background-image: url('../img/i/top3.png');
  }
}


@media (max-width: 767px){}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1199px){}
