//main
.modal-dialog {
  width: 55%; //mb px??
}
.modal-content {
  background-image: url('../img/bg-modal.jpg');
  border-radius: 0;
  box-shadow: 0 0 70px rgba(0,0,0,0.9);
}

//header
.modal-header {
  border:none;
  text-align: right;
  padding: 20px;
  .close {
    background-color: transparent;
    z-index: 999;
    img{
      width: 20px;
    }
  }
}

//body
.modal-body {
  padding: 0 5% 5% 5%;
  .main-wrap{
    width: auto;
    margin: auto;
    text-align: center;
  } 
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 90%; //mb px??
    margin: auto;
    margin-top: 10%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}


