
$transit: 500ms;

@mixin plecehold($placehold-c) {    
  input{
    color: $placehold-c;
    &::-webkit-input-placeholder {color: $placehold-c;}
    &::-moz-placeholder          {color: $placehold-c; opacity: 1;}/* Firefox 19+ */
    &:-moz-placeholder           {color: $placehold-c; opacity: 1;}/* Firefox 18- */
    &:-ms-input-placeholder      {color: $placehold-c;}
  }
}
@mixin flexbox() {		
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($justify){    
	-webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}
@mixin align-items ($al-items){
    -webkit-box-align: $al-items;
    -ms-flex-align: $al-items;
    -webkit-align-items: $al-items;
    align-items: $al-items;
}
@mixin transit($transit){
  transition: all $transit ease 0s;
}
