.pop-menu{/*всплывающее меню*/
	position: fixed;	
	top:0;	
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;	
	padding: 0;
	background-color: $bg-c;	
	opacity:0.95;
	z-index: 999;
	display: block;
	padding-top: 80px;
	display:none;
	text-align: center;
	li{
		padding-top: 40px;
		a{
			display: block;
			font-size: 2.0rem;
			font-family: $font-f-alt;
			color: #ffb68b;
			text-transform: uppercase;
			opacity: 0.7;
			/*&:first-letter{
    	  text-transform: uppercase;
    	}*/
    	&:active,
  		&:visited,
  		&:link{
  		  text-decoration: none;
  		  outline:none;
  		}
  		&:hover{
  			opacity: 1;
  		}
		}
	}
}
.nav-toggle{/*кнопка сэндвич*/
	padding-top: 2px;
	border:none;
	background-color:transparent;
	height: auto;
	.sandwich {
		width: 28px;
		height: 28px;
		.sw-top,
		.sw-mid,
		.sw-low {
			position: relative;
			height: 2px;
			background: #ffb68b;
			border: none;
			border-radius: 2px 2px 2px 2px;
		}
		.sw-top {
		  top: 0;
		  transition: transform 0.5s, top 0.2s;
		/* transition-delay: 0.2s, 0s; */
		}
		.sw-mid {
		  top: 7px;
		  transition: transform 0.5s, top 0.2s;
		  transition-delay: 0.2s, 0s;
		}
		.sw-low {
		  top: 14px;
		  transition: all 0.5s;
		  transition-delay: 0.1s;
		}
		&.active .sw-top {
		  top: 9px;
		  transform: rotate(140deg);
		  background: #ffb68b;
		}
		&.active .sw-mid {
		  top: 7px;
		  transform: rotate(-140deg);
		  background:#ffb68b;
		}
		&.active .sw-low {
		  opacity: 0;
		  top: 0;
		  transform: rotate(180deg);
		  background:#ffb68b;
		}
	}
}	
			
				
			/*<button class="nav-toggle visible-xs">
          <div class="sandwich">
            <div class="sw-top"></div>
            <div class="sw-mid"></div>
            <div class="sw-low"></div>
          </div>
        </button>

				<ul class="pop-menu">
            <li><a href="#how">как это работает</a></li>
            <li><a href="#expert">мнение эксперта</a></li>
            <li><a href="#advantage">преимущества</a></li>
            <li><a href="#result">результаты исследований</a></li>
            <li><a href="#review">отзывы</a></li>
        </ul>*/