.youtube {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: ('../img/i/bg-youtube.jpg')
}

.youtube .play {
    background: url('../img/i/play-button.png') no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .7;
    transition: all 0.2s ease-out;
}


.youtube .play:hover {
    opacity: 1;
}
