@import "_normolise.scss";
@import "_bootstrap-modal";
@import "_mymixins.scss";
@import "_color.scss";
@import "_fonts.scss";
@import "_vars.scss";
//@import "_social.scss";
//@import "_myhover.scss";
@import "_icons";
@import "_modal";
@import "_checkbox";
@import "_insta.scss";
@import "_swiper-option";
//@import "_sandwich.scss";
@import "_youtube";
@import "_timer";
@import "_count";
@import "_components";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic,cyrillic-ext,latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&amp;subset=cyrillic');
html{
  font-size: 16px;
  font-family: $font-f;
  color: $font-c;
  min-width: 320px;
}
body{
  background-color: $bg-c;
  overflow-x: hidden;
}
section,
footer,
header{
  position: relative;
  overflow: hidden;
  min-width: 320px;
}
p{
  padding-bottom: 15px;
  margin: 0;
}
h1,h2,h3,h4{
  padding-bottom: 30px;
  margin: 0;
}
section{
  padding: 60px 0 90px;
  .title{
    padding-bottom: 10px;
    &:first-letter{
      text-transform: uppercase;
    }
  }
  .subtitle{
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 30px;
  }
}
footer{
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  a{
    color: #73d4d6;
  }
}
button{
  border: none;
  outline: none;
}
//отмена стилей по умолчанию
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
.button{
  border: 1px solid $btn-c-activ;
}
header{ 
  .logo{
    padding-top: 3px;
    padding-right: 45px;
  }
  .icon-box{
    .desc{
      line-height: 1.25;
    }
  }
  .button{
    margin-top: 5px;
  }
}
.block-main{
  background-image: url('../img/bg-1.jpg');
  &.block-7,
  &.block-20{
    background-image: url('../img/bg-7.jpg');
  }
  text-align: center;
  padding-bottom: 80px;
  .main{
    position: relative;
    z-index: 2;
  }
  .title{
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 0.9;
  }
  .desc{
    font-size: 1.25rem;
    line-height: 1.1;
    padding-right: 140px;
    padding-left: 140px;
  }
  .price{
    padding-bottom: 15px;
    font-size: 2.3rem;
    &.old{
      padding-right: 10px;
    }
    &.new{
    }
  }
  .buy-counter{   
    font-size: 1.1rem;  
    .buy-number{
      font-weight: bold;
    }
  }
  form{
    padding-top: 10px;
    input,
    select,
    .button{ 
      display: block;
      margin: auto;
      margin-bottom: 10px;
      width: 40%;
    }
    .button{
      font-size: 1rem;
      background-color: $btn-c-activ;
      border-color: $btn-c-activ;
      &:hover,
      &:focus{
        background-color: #932c31;
        border-color: #932c31;
      }
    }
  }
  .countdown-wrap{
    padding-top: 10px;
  }
  .product{
    position: relative;
    margin-top: 110px;
    margin-left: -65px;
    padding: 0;
    img{
      position: relative;
      width: 100%;
      z-index: 2;
    }
    .discount{
      top: 0px;
      right: -40px;
      padding-top: 25px;
      font-size: 1.5rem;
      z-index: 3;
    }
    .product-counter{
      position: absolute;
      width: 112%;
      left: -6%;
      bottom: -64px;
      text-align: left;
      z-index: 2;
      .product-number{
        font-weight: bold;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: -23%;
      left: -120%;
      width: 340%;
      height: 146%;
      border-radius: 50%;
      background-color: #dae8f1;
      z-index: 1;
    }
  }
}

@import "resp/_lg";
@import "resp/_md";
@import "resp/_sm";
@import "resp/_xs";


